# Build output
/dist/
/build/

# Node modules
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Vite cache
/.vite/

# TypeScript
*.tsbuildinfo

# RSS generated data
src/components/news/*/data.json

# Optional: env files
.env
.env.*
